<!-- <md-toolbar class="md-hue-1">
    <div layout="row" layout-align="start center">
        <div layout="row" flex>
                <md-input-container flex>
                        <input type="text" [(ngModel)]="searchedKeyword" placeholder="ID: ###" (keyup)="checkKey($event)">
                </md-input-container>
                <button ng-click="$ctrl.showSearch = !$ctrl.showSearch">
                                Add
                              </button>
                              <button ng-click="showListBottomSheet($event)">
                                Remove
                              </button>
        </div>
        
    </div>
</md-toolbar> -->