<md-toolbar class="md-hue-1">
        <div layout="row" layout-align="start center">
            <div layout="row" flex>
                    <md-input-container flex>
                            <input type="number" [(ngModel)]="searchedKeyword" placeholder="ID: ###" (keyup)="checkKey($event)">
                    </md-input-container>
                    <button ng-click="$ctrl.showSearch = !$ctrl.showSearch">
                                    Add
                                  </button>
                                  <button ng-click="showListBottomSheet($event)">
                                    Remove
                                  </button>
            </div>
            
        </div>
    </md-toolbar>
<div>
    <table>
            <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Grade</th>
                    <th>Subject</th>
                </tr>
                <tr *ngFor="let trainee of trainees| paginate: { itemsPerPage: 10, currentPage: p }">
                    <td>{{trainee.id}}</td>
                    <td>{{trainee.name}}</td>
                    <td>{{trainee.date}}</td>
                    <td>{{trainee.grade}}</td>
                    <td>{{trainee.subject}}</td>
                </tr>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>