<div class="header">
  <button label="Data" (click)="changeView('data')">Data</button>
  <button label="Analysis" (click)="changeView('analysis')">Analysis</button>
  <button label="Monitor" (click)="changeView('monitor')">Monitor</button>
</div>